@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martian Mono";
}
body {
    background-color: #f4f4f4;
}
.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.logo {
    width: 80px;
    border-radius: 20px;
}
.logo_name {
    vertical-align: center;
    margin-left: 5px;
}
.middle_section {
    width:30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right_section {
    width:10%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.left_section {
    display: flex;
    align-items: center;
}
.featured-button {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: black;
    border-radius: 8px;
    border:none;
    cursor:pointer;
}
.intro {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 500px;
    border-radius: 15px;
    margin-top: 20px;
    position:relative;
}
.left_div {
    /* height: 500px; */
    height: 100%;
    width: 49%;
    background-color: #f4f4f4;
    border-radius: 40px;
    position:relative;
}
.right_div {
    /* height: 500px; */
    border-radius: 40px;
    height: 100%;
    width: 49%;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
}
.box {
    position: absolute;
    bottom: -40px;
    left: 50%;            /* center relative to parent */
    transform: translateX(-50%); /* shift by half width */
    width: min(260px, 25%);
    height: 160px;
    background-color: #f4f4f4;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

.top_right_div {
    background-color: #ecf95a;
    width: 100%;
    height: 76%;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius:40px;
    overflow: hidden;
}
.bottom_right_div{
    height: 15%;
    width: 100%;
    background-color: #ecf95a;
}
.top_left_div {
    background-color: white;
    width: 100%;
    height: 76%;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.bottom_left_div {
    height: 15%;
    width:100%;
    background-color: white;
}
.right_box {
    height:50px;
    width: 82%;
    background-color: #ecf95a;
    position: absolute;
    bottom: 0px;
    left:18%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.left_box {
    height:50px;
    width: 82%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    right:18%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.learn_more_img {
    width: 80%;
    margin-left: 10%;
    transform: translateX(-50%);
    border-radius: 110px;
    margin-top: 10px;
    animation-name: rotation;
    animation-duration: 3.5s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear; 
}

@keyframes rotation {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees (one full circle) */
  }
}

.book_img {
    position: absolute;
    height: 95%;
    top: 3%;
    left: 55%;
    transform: translateX(-50%);
    /* transform: rotateZ(-10deg); */
}
.book_img2 {
    position:absolute;
    height: 90%;
    bottom: 0;
    left:25%;
    /* transform: translateX(-50%); */
    top: 5%;
    transform: translateY(-50%);
    transform: rotateZ(-5deg);
    
}
.title {
    font-family: "Ubuntu";
    font-weight: 740;
    font-size: 2.5em;
    position: absolute;
    top: 4%;
    line-height: 120%;
    left: 5%;
    color: rgba(0, 0, 0, 0.815);
}
.p1 {
    position: absolute;
    top: 40%;
    left: 5%;
    color: rgba(0, 0, 0, 0.699);
    line-height: 142%;
}
.start_button {
    position: absolute;
    top: 57%;
    left: 8%;
    padding: 7px 10px 10px 10px;
    border-radius: 14px;
    background-color: #ecf95a;
    border:none;
}
.quote {
    font-size: 2rem;
}
.quote_content {
    font-family: 'Cinzel', Times, serif;
    font-size: 1.5rem;
    font-weight: 540;
}
.quotes {
    width: 70%;
    margin-left: 20px;
}
.quote_author {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    font-weight: 540;
    margin-left: 30px;
    margin-top: 8px;
}
.arrow {
    font-size: 1.2rem;
}
.middle_page {
    margin-top: 250px;
}
.mission {
    font-family: "Martian Mono";
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
    border: 1px solid black;
    padding: 10px;
    font-size: 1.1rem;
    border-radius:10px;
    cursor: pointer;
}
.marketing {
    margin-top: 200px;
}
.marketing_p {
    /* margin-left: 50%; */
    text-align: center;
    margin-top: 20px;
    font-family: "Ubuntu";
    font-size: 2.5rem;
    color: #191314;
    font-weight: 700;
    line-height: 50px;
    margin-bottom:80px
}
.marketing_card {
    height: 100%;
    width: 30%;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position:relative
}
.marketing_card:hover {
    transform: scale(1.05);
}
.marketing_grid {
    margin-top: 100px;
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}
.marketing_grid > div:nth-child(2){
    background-color:#ecf95a;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}
.marketing_grid >div:nth-child(1), .marketing_grid >div:nth-child(3) {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.card_header {
    font-family: "Ubuntu";
    font-size: 2rem;
    margin-top:60px;
}
.card_header ,.card_content,.card_icon,.more ,.more1{
    margin-left: 20px;
}
.card_content {
    margin-top:15px;
    line-height: 24px;
}
.card_icon {
    height: 20%;
    margin-top: 30px;
}
.more, .more1 {
    padding: 8px 12px 8px 12px;
    border-radius: 15px;
    border: none;
    background-color: #ecf95a;
    cursor: pointer;
    position: absolute;
    bottom: 20px;

}
.more1 {
    background-color: #191314;
    color: white;
}
.grid_title {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    color: #191314;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom:30px;
}
.book_grid {
    background-color: white;
    border-radius: 20px;
    width: 92%;
    padding: 15px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    
    row-gap: 40px;
    padding-top: 50px;

}

.download {
    border:1px solid black;
    font-weight:700;
    font-size:1rem;
    position:relative;
    background-color:#fffbe6;
    color:black;
    padding:8px;
    padding-right:30px;
    transition: transform 0.3s ease, box-shadow 0.3s, opacity 0.3s;
    overflow:hidden;
    position: absolute;
    left:2px;
    bottom: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.img {
    width: 20px;
    position: absolute;
    top:30%;
    right: 5px;
    transition: transform 0.4s ease;
    transform: translateY(200%);
}
.download:hover .img {
    transform: translateY(0%);
}
.download:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    opacity: 0.9;
}
.card {
    background-color: red;
    width: 280px;
    height: 400px;
    background-image: url(images/1984-book-cover-Penguin-Books-UK-cover-by-Shepard-Fairey-2008.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    transition: transform 0.5s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    cursor:pointer;
}
.overlay {
    position: absolute;
    background-color: rgba(236, 249, 90, 0.533);
    backdrop-filter: blur(5px);
    bottom: 0;
    left: 0;
    right: 0;
    transform:translateY(100%);
    transition: transform 0.5s ease ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 30%;
}
.card:hover {
    transform: scale(1.05)
}
.card:hover .overlay {
    transform:translateY(0%)
}
.download:active {
    opacity:0.7;
}
.download ,.book_title {
    margin-left: 10px;
}
.book_title{
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: "Ubuntu";
}